<a href="https://colab.research.google.com/github/hannasss/SOLUX_summer_data/blob/master/1%EC%A3%BC%EC%B0%A8/pandas3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
friends = [{'name':'Jone','age':20,'job':'student'},
           {'name':'Jenny','age':30,'job': None },
           {'name':'Nate','age':30,'job':'teacher'}]
df = pd.DataFrame(friends)
df = df[['name','age','job']]

In [3]:
df.head()

    name  age      job
0   Jone   20  student
1  Jenny   30     None
2   Nate   30  teacher

In [4]:
df.to_csv('friends.csv')

row 아이디와 컬럼 네임 없이 파일 만들기

In [5]:
df.to_csv('frineds.csv', index = False, header = False, na_rep = '-')